body{
	max-width: 100%;
	margin: 0px;
	font-family: "MerriweatherRegular";
}

body::-webkit-scrollbar{
	overflow: hidden;
	width: 0px;
}

#mainImg{
	z-index: -1;
	display: block;
	position: absolute;
	min-width: 100%;
	max-width: 100%;	
	height: 100%;
	object-fit: cover;
}

#pugaloImg{
	display: none;
	width: 13vw;
	height: auto;
	max-height:100%;
	position: absolute;
	bottom: 23%;
}

#mageImg{
	display: none;
	width: 12vw;
	height: auto;
	max-height:100%;
	position: absolute;
	bottom: 25%;
	left: 87%;	
}

button{
	font-family: "MerriweatherRegular";
	border-radius: 1.5vw;
	background-color: #e2ffe2;
	box-shadow: 2px 2px 7px #000000dd;

    padding: 10px;
}

button:hover{
	transform: scale(1.1);
}

.aheadButton{
	margin-left: 87%;
	margin-right: 1%;
	margin-bottom: 1%;

	height: 27%;

	font-size: 1.3vw;
}

.choicesButtons{
	display: flex;
	justify-content: center;
	margin-bottom: 1%;

	height: 27%;

	font-size: 1.3vw;
}

.dialogue{
	box-sizing:border-box;
	padding-left: 1.75vw;	
	border-radius: 1.5vw;
	
	font-size: 1.5vw;
	background-color: #e2ffe2cc;
	box-shadow: 2px 2px 7px #000000dd;

	min-width: 100%;
	max-width: 100%;
	height: 25%;
    position: absolute;
	top: 75%;
	z-index: 1;

	display: flex;
	flex-direction: column;
	justify-content:space-between;
}

footer{
	display: flex;
	flex-direction: row;
	gap: 20px;
	position: absolute;	
	top: 100%;	
	padding: 1em;
	color: white;
	background-color: black;	
}

.ithubLogo{
	margin-top: 2.5em;
	width: 100px;
	height:fit-content;
	filter: invert(100%);
}

.footerText{
	display: flex;
	flex-direction: column;
}

@font-face {
	font-family: "MerriweatherRegular"; 
	src: url("../fonts/Merriweather-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}