header{
	font-size: 24px;
}

#mainImg{
	z-index: -1;
	display: block;
	position: absolute;
	min-width: 100%;
	max-width: 100%;
}

main{
	display: flex;
}

#firstStep{
	text-align: center;
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
}

#gameName{
	font-size: 40px;
	padding: 10px;
	color: white;
	background-color: #e2ffe200;
	
	text-shadow: 4px 4px 5px #000000;
}

#beginButton{
	margin-top: 30px;
	font-size: 24px;
}

#beginButton:hover{
	transform: scale(1.1);
}

#pugalo{
	display: none;
	flex-direction: row;
	
	margin-left: 5%;
	margin-top: 20%;
}

#pugaloImg{
	width: 25vw;
	height: auto;
	max-height:100%;
}

#greetings{
	width: 35vw;
	height: auto;
	max-height: max-content;
	height: fit-content;
	border-bottom-left-radius: 0px;
		
	margin-top: 10em;
}

.menu{
	position: fixed;
	display: flex;
	flex-direction: row;
	width: fit-content;

	background-color: #e2ffe2;
	border-bottom-right-radius: 16px;
	box-shadow: 2px 2px 7px #000000dd;
}

.menuItem{
	padding: 10px;
	border-right: 1.5px solid black;
}

.menuRef{
	text-decoration: none;
	color:black;
}

.menuRef:hover{
	display: block;
	transform: scale(1.07);
}

.about{
	border-right: 0px;
}
 