header{
	font-size: 24px; 
}

#villageImg{
	z-index: -1;
	display: block;
	position: absolute;
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

main{
	display: flex;
}

#firstStep{
	text-align: center;
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
}

#gameName{
	font-size: 2.5vw;
	padding: 10px;
	color: white;
	background-color: #e2ffe200;
	
	text-shadow: 4px 4px 5px #000000;
}

#beginButton{
	margin-top: 30px;
	font-size: 36px;
}

#beginButton:hover{
	transform: scale(1.1);
}

#firstDialogue{
	display: none;
}

.menu{
	position: fixed;
	display: flex;
	flex-direction: row;
	width: fit-content;

	background-color: #e2ffe2;
	border-bottom-right-radius: 16px;
	box-shadow: 2px 2px 7px #000000dd;
}

.menuItem{
	padding: 10px;
	border-right: 1.5px solid black;
}

.menuRef{
	text-decoration: none;
	color:black;
}

.menuRef:hover{
	display: block;
	transform: scale(1.07);
}

.about{
	border-right: 0px;
}
 