header{
	/* padding: 20px; */
	font-size: 24px;
}

body{
	max-width: 100%;
	margin: 0px;
	font-family: "MerriweatherRegular";
}

#mainImg{
	z-index: -1;
	display: block;
	position: absolute;
	min-width: 100%;
	max-width: 100%;
}

main{
	display: flex;
	
}

.firstStep{
	text-align: center;
	margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
}

.gameName{
	font-size: 40px;
	padding: 10px;
	color: white;
	background-color: #e2ffe200;
	
	text-shadow: 4px 4px 5px #000000;
	/*-webkit-text-stroke: 1px black; */
}

button{
	font-family: "MerriweatherRegular";
	border-radius: 16px;
	background-color: #e2ffe2;
	box-shadow: 2px 2px 7px #000000dd;
}

.begin{
	padding: 10px;
	margin-top: 30px;

	font-size: 24px;
}

.begin:hover{
	transform: scale(1.1);
}

.dialogue{
	border-radius: 16px;
	border-bottom-left-radius: 0px;
	background-color: #e2ffe2;
	box-shadow: 2px 2px 7px #000000dd;
}

#pugalo{
	display: none;
	flex-direction: row;
	
	margin-left: 5%;
	margin-top: 20%;
}

#pugaloImg{
	width: 25vw;
	height: auto;
	max-height:100%;
}

#hello{
	width: 35vw;
	height: auto;
	max-height: max-content;

	height: fit-content;	
	font-size: 24px;
	padding: 10px;
	margin-top: 10em;
}

.menu{
	position: fixed;
	display: flex;
	flex-direction: row;
	width: fit-content;
	/* background: linear-gradient(#d2ffd280, 10%, #d2ffd2, 90%, #d2ffd280); 
	background-color: #d2ffd2;*/
	
	/*background: radial-gradient(#d2ffd2, 80%, white);*/
	background-color: #e2ffe2;
	border-bottom-right-radius: 16px;
	box-shadow: 2px 2px 7px #000000dd;
	
	/* gap: 20px;
	padding-right: 10px;
	padding-left: 10px;*/
}

.menuItem{
	padding: 10px;

	border-left: 2px solid black;
	border-collapse: collapse;
}

.menuRef:hover{
	display: block;
	transform: scale(1.07);
}

footer{
	display: flex;
	flex-direction: row;
	gap: 20px;
	position: absolute;
	top: 100%;
	padding: 1em;
	color: white;
	background-color: black;	
}

#ithub{
	margin-top: 2.5em;
	width: 100px;
	height:fit-content;
	filter: invert(100%);
}

#footerText{
	display: flex;
	flex-direction: column;
}

@font-face {
	font-family: "MerriweatherRegular"; 
	src: url("fonts/Merriweather-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
  } 